body{
    background: #efefef;
    border-radius: 15%;
    -webkit-app-region: drag;
}

h1{
    text-align: center;
    margin-bottom: 0;
    user-select: none;
}

#btn{
    width: 200px;
    height: 200px;
    background: #ef454a;
    border-radius: 50%;
    margin: 30px auto 0;
    text-align: center;
    line-height: 200px;
    color: white;
    font-size: 42px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 10px 0 #d1483e;
    user-select: none;
    -webkit-app-region: no-drag;
}

#btn:hover{
    opacity: 0.9;
}

#btn.pressed{
    margin-top: 35px;
    box-shadow: 0 5px 0 #d1483e;
}